#Practice-PANDAS Library

In [1]:
pwd

'/home/prakash/Desktop/DataScience/Python Libraries/Pandas Excercise'

In [2]:
import numpy as np
import pandas as pd

In [3]:
np.version.version

'1.15.1'

In [4]:
np.version

In [5]:
pd.version.version

AttributeError: module 'pandas' has no attribute 'version'

In [6]:
pd.version

AttributeError: module 'pandas' has no attribute 'version'

In [7]:
a = [1,2,3]
index = ['a','b','c']

In [8]:
pd.Series(data = a,index = index)

a    1
b    2
c    3
dtype: int64

In [9]:
myDict = {'1':32,'5':45}

In [10]:
pd.Series(myDict)

1    32
5    45
dtype: int64

In [11]:
series1 = pd.Series([1,2,3,4],['w','x','y','z'])

In [12]:
series1

w    1
x    2
y    3
z    4
dtype: int64

In [13]:
series2 = pd.Series([3,5,7,8],['w','a','h','y'])

In [14]:
series2

w    3
a    5
h    7
y    8
dtype: int64

In [15]:
series1+series2

a     NaN
h     NaN
w     4.0
x     NaN
y    11.0
z     NaN
dtype: float64

In [16]:
from numpy.random import randn

In [17]:
myData = randn(3,3)

In [18]:
myData

array([[ 0.30900547, -0.68043324,  0.10688308],
       [-0.32329668, -0.28139478, -0.00313703],
       [ 1.04873211,  1.01561499,  0.07169704]])

In [19]:
myDataFrame = pd.DataFrame(myData,['R1','R2','R3'],['C1','C2','C3'])

In [20]:
myDataFrame

          C1        C2        C3
R1  0.309005 -0.680433  0.106883
R2 -0.323297 -0.281395 -0.003137
R3  1.048732  1.015615  0.071697

In [23]:
myDataFrame[2:,['C1','C2']]

TypeError: unhashable type: 'slice'

In [ ]:
myDataFrame['C4'] = myDataFrame['C2'] * myDataFrame['C3']

In [ ]:
myDataFrame

In [ ]:
myDataFrame['C5'] = myDataFrame['C2']+myDataFrame['C3']

In [ ]:
myDataFrame

In [ ]:
myDataFrame.drop('C2',axis=1)

In [ ]:
myDataFrame

In [ ]:
myDataFrame.drop('C2',axis=1,inplace=True)

In [ ]:
myDataFrame

In [ ]:
myDataFrame.loc['R2']

In [ ]:
myDataFrame.iloc[1]

In [ ]:
myDataFrame.loc[['R1','R2'],['C1','C5']]

In [ ]:
myDataFrame

In [ ]:
myDataFrame > 0

In [ ]:
myDataFrame[myDataFrame > 0]

# If all the values in c3 is +ve,then we will have entire table.....

#----------------------------------Important..................-------------------------------------

In [ ]:
myDataFrame[myDataFrame['C3'] > 0]

In [ ]:
myDataFrame

#Data Cleanup

In [ ]:
data = {'me':[4,5,np.nan],'mf':[3,np.nan,np.nan],'mof':[2,3,4]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.fillna(value = df['me'].mean())

In [ ]:
newData = {
    'Movies':['startwars','starwars','batman','batman','deadpool','deadpool'],
    'Viewers':['me','myf','mof','bobby','dean','sanny'],
    'Ratings':[10,7,6,9,8,5]
}

In [ ]:
dfmovie = pd.DataFrame(newData)

In [ ]:
dfmovie

In [ ]:
dfmovie.groupby('Movies').describe()

#Reading and writing files

In [ ]:
pwd

In [ ]:
ls

In [ ]:
cd PANDAS-Basics\(Series\).ipynb

In [ ]:
cd ..

In [ ]:
ls

In [ ]:
pwd

In [ ]:
cd home/

In [ ]:
ls

In [ ]:
ls -a

In [ ]:
cd prakash/

In [ ]:
ls

In [ ]:
cd Desktop/

In [ ]:
ls

In [ ]:
cd Pract-Python/

In [ ]:
ls

In [ ]:
cd PANDAS/

In [ ]:
ls